*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
}

nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  padding: 2rem 1rem;
}

.menu-show {
  right: 0;
}

.menu {
  position: relative;
  right: -100%;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-img {
  width: 100%;
  height: auto;
}

.home-img img {
  width: 100%;
}

.home-content {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem 2rem;
  background: #2d2640;
  color: #fafafa;
}

.home-content h1 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
}

.home-content span {
  display: block;
}

.home-content p {
  font-family: "Karla", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  opacity: 0.6;
}

.home-content button {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  background: #2d2640;
  border: 2px solid #fafafa;
  color: #fafafa;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin: 2rem 0;
  font-size: 16px;
}

.home-content button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10rem 1rem 4rem;
}

.section1 .section1-content {
  margin: 3rem auto;
}

.section1 .section1-item {
  padding: auto 4rem;
  max-width: 23rem;
  margin-top: 3rem;
}

.section1 h1 {
  font-size: 3rem;
  color: #2b272f;
  position: relative;
}

.section1 h1::before {
  position: absolute;
  content: "";
  width: 50%;
  left: 5rem;
  top: -2rem;
  height: 3px;
  border-bottom: 1px solid #2d2640;
}

.section1 h3 {
  font-size: 2rem;
  color: #2b272f;
}

.section1 p {
  font-family: "Karla", sans-serif;
  line-height: 1.8;
  font-weight: 700;
  opacity: 0.6;
}

.section2 {
  width: 100%;
  height: auto;
  background: #2d2640;
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2.5rem 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fafafa;
  line-height: 1;
  margin-bottom: 100px;
}

.section2 h2 {
  font-size: 40px;
}

.section2 button {
  font-family: "Karla", sans-serif;
  background: #2d2640;
  text-transform: uppercase;
  border: 2px solid #fafafa;
  color: #fafafa;
  padding: 1rem 3rem;
  cursor: pointer;
  margin: 1.5rem 0;
}

.section2 button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.section2 span {
  display: block;
}

.socials-section {
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
}

.socials-section .socials-content {
  margin-top: 2rem;
  position: relative;
}

.socials-section .socials-content img {
  margin: 1rem auto;
  z-index: 100;
}

.socials-section .socials {
  z-index: 100;
}

.socials-section .socials::after {
  position: absolute;
  content: "";
  left: 4rem;
  top: 100%;
  width: 80%;
  border-bottom: 2px solid #837d87;
}

.socials-section ion-icon {
  font-size: 1.9rem;
  color: #95a9c6;
  cursor: pointer;
  margin: auto 0.4rem 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: "Karla", sans-serif;
}

footer p {
  color: #837d87;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

footer .footer-item {
  margin: 1rem auto;
}

footer li {
  color: #2d2640;
  margin: 0.5rem auto;
  line-height: 1.8;
}

@media screen and (max-width: 728px) {
  .home-content {
    background-image: url(/images/bg-pattern-intro-left-mobile.svg), url(/images/bg-pattern-intro-right-mobile.svg);
    background-position: left top, right 170%;
    background-repeat: no-repeat;
  }
  .home-content .home-image {
    display: none;
  }
  .menu-items {
    position: absolute;
    z-index: 100;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
    background: #2b272f;
    text-transform: uppercase;
    height: 600px;
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-position: center bottom;
    background-size: 500px;
    background-repeat: no-repeat;
  }
  .menu-items li {
    margin-bottom: 0.8rem;
    padding: 0.5rem 2rem;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Karla", sans-serif;
    -webkit-transition: 0.15s ease-in-out;
    transition: 0.15s ease-in-out;
    cursor: pointer;
  }
  .menu-items li:hover {
    border: 2px solid #fafafa;
  }
  .menu-items a {
    color: #fafafa;
    word-spacing: 3px;
    letter-spacing: 2px;
    padding: 5px;
  }
  .menu-btn {
    font-size: 30px;
    display: inline-block;
  }
  .menu-btn ion-icon {
    margin: 0;
    border: 1.5px solid black;
  }
  .socials-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 2rem 3rem;
  }
}

@media screen and (min-width: 729px) {
  .home-img {
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
  }
  .show-menu,
  .hide {
    display: none;
  }
  nav {
    width: 100vw;
  }
  .logo {
    margin-left: 5rem;
  }
  .menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1rem;
    padding-right: 5rem;
    text-transform: uppercase;
  }
  li {
    font-family: "Karla", sans-serif;
    margin-left: 3rem;
  }
  li a {
    color: #2b272f;
    opacity: 0.8;
  }
  li a:hover {
    opacity: 1;
  }
  .view-plans {
    background-color: black;
    opacity: 1;
    padding: 10px 15px;
  }
  .view-plans:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .view-plans a {
    color: #ffffff;
  }
  .home-content {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 600px;
    text-align: start;
  }
  .content {
    margin-left: 5rem;
  }
  .home-image {
    margin: 15rem 5rem 0 0;
  }
  .section1-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section1-item {
    width: 350px;
    height: auto;
    text-align: start;
    margin-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socials-section {
    background-image: none;
  }
  .socials-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer {
    border: 2px solid red;
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=styles.css.map */